body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin: 5rem 2rem;
    gap: 2rem;
    background: #282D31;
}

a {
    background: #007BDF;
    font-weight: 700;
    text-decoration: none;
    color: #FAFDFF;
    padding: 1rem;
}

a:hover {
    background: #006DC6;
}