:root {
    --red: 0;
    --green: 0;
    --blue: 0;
}


body {
    display: grid;
    min-height: 100vh;
    align-content: center;
    justify-content: center;
    background: rgb(var(--red), var(--green), var(--blue));
}

img {
    width: 100vw;
}

label {
    color: #282D31;
    width: 55vw;
    margin-bottom: 1rem;
    background: #FAFDFF;
    border: .50px solid #53575A;
    border-radius: .75rem;
    padding: .5rem;
    display: flex;
}

input {
    margin-left: auto;
    display: block;
    width: 40vw;
}